In [1]:
# purpose of this dataset is to predict whether the customer can get a credit/loan. The first step is to clean the data.

Hello world !!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/zoephilipiyawa/PycharmProjects/pythonProject2/credit_customers.csv')

In [3]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67.0,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22.0,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49.0,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45.0,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53.0,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,<0,24,critical/other existing credit,new car,1199.0,<100,>=7,4,male single,none,...,car,60.0,none,own,2,unskilled resident,1,none,yes,bad
1003,<0,15,existing paid,new car,1403.0,<100,1<=X<4,2,female div/dep/mar,none,...,car,28.0,none,rent,1,skilled,1,none,yes,good
1004,<0,24,existing paid,radio/tv,1282.0,100<=X<500,1<=X<4,4,female div/dep/mar,none,...,car,32.0,none,own,1,unskilled resident,1,none,yes,bad
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,male single,none,...,life insurance,53.0,none,own,2,skilled,1,none,yes,good
1006,<0,30,no credits/all paid,business,8072.0,no known savings,<1,2,male single,none,...,car,25.0,bank,own,3,skilled,1,none,yes,good

In [4]:
df.isnull().sum() #check for null values

checking_status           0
duration                  0
credit_history            0
purpose                   1
credit_amount             1
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       1
other_payment_plans       1
housing                   0
existing_credits          0
job                       1
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [5]:
df.info() #check data type of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1007 non-null   object
 1   duration                1007 non-null   int64
 2   credit_history          1007 non-null   object
 3   purpose                 1006 non-null   object
 4   credit_amount           1006 non-null   float64
 5   savings_status          1007 non-null   object
 6   employment              1007 non-null   object
 7   installment_commitment  1007 non-null   int64
 8   personal_status         1007 non-null   object
 9   other_parties           1007 non-null   object
 10  residence_since         1007 non-null   int64
 11  property_magnitude      1007 non-null   object
 12  age                     1006 non-null   float64
 13  other_payment_plans     1006 non-null   object
 14  housing                 1007 non-null   object
 15  existing_credits        1007 non-null   int64
 16  job                     1006 non-null   object
 17  num_dependents          1007 non-null   int64
 18  own_telephone           1007 non-null   object
 19  foreign_worker          1007 non-null   object
 20  class                   1007 non-null   object
dtypes: float64(2), int64(5), object(14)
memory usage: 165.3+ KB

In [6]:
df = df.fillna('No response') #fill empty cells
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67.0,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22.0,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49.0,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45.0,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53.0,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,<0,24,critical/other existing credit,new car,1199.0,<100,>=7,4,male single,none,...,car,60.0,none,own,2,unskilled resident,1,none,yes,bad
1003,<0,15,existing paid,new car,1403.0,<100,1<=X<4,2,female div/dep/mar,none,...,car,28.0,none,rent,1,skilled,1,none,yes,good
1004,<0,24,existing paid,radio/tv,1282.0,100<=X<500,1<=X<4,4,female div/dep/mar,none,...,car,32.0,none,own,1,unskilled resident,1,none,yes,bad
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,male single,none,...,life insurance,53.0,none,own,2,skilled,1,none,yes,good
1006,<0,30,no credits/all paid,business,8072.0,no known savings,<1,2,male single,none,...,car,25.0,bank,own,3,skilled,1,none,yes,good

In [7]:
df.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [8]:
df = df.drop_duplicates() # drop duplicates
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67.0,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22.0,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49.0,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45.0,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53.0,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,no checking,12,existing paid,radio/tv,804.0,<100,>=7,4,male single,none,...,car,38.0,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845.0,<100,1<=X<4,4,male single,none,...,no known property,23.0,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,male single,none,...,car,27.0,none,own,1,skilled,1,none,yes,good
1000,<0,48,existing paid,business,4308.0,<100,<1,3,female div/dep/mar,none,...,life insurance,24.0,none,rent,1,skilled,1,none,yes,bad
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,male single,none,...,life insurance,53.0,none,own,2,skilled,1,none,yes,good

In [9]:
df.shape

(1002, 21)

In [85]:
pd.set_option('display.max_rows', 1002)

In [86]:
pd.set_option('display.max_columns', 30)

In [10]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67.0,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22.0,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49.0,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45.0,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53.0,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,no checking,12,existing paid,radio/tv,804.0,<100,>=7,4,male single,none,...,car,38.0,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845.0,<100,1<=X<4,4,male single,none,...,no known property,23.0,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,male single,none,...,car,27.0,none,own,1,skilled,1,none,yes,good
1000,<0,48,existing paid,business,4308.0,<100,<1,3,female div/dep/mar,none,...,life insurance,24.0,none,rent,1,skilled,1,none,yes,bad
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,male single,none,...,life insurance,53.0,none,own,2,skilled,1,none,yes,good

In [11]:
df = df.copy()

In [12]:
df[['sex', 'marital_status']]= df['personal_status'].str.split(' ', expand = True) #split columns and assign values

In [13]:
df.drop(columns = 'personal_status', inplace = True)

In [14]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,sex,marital_status
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,none,4,...,none,own,2,skilled,1,yes,yes,good,male,single
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,none,2,...,none,own,1,skilled,1,none,yes,bad,female,div/dep/mar
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,none,3,...,none,own,1,unskilled resident,2,none,yes,good,male,single
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,guarantor,4,...,none,for free,1,skilled,2,none,yes,good,male,single
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,none,4,...,none,for free,2,skilled,2,none,yes,bad,male,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,no checking,12,existing paid,radio/tv,804.0,<100,>=7,4,none,4,...,none,own,1,skilled,1,none,yes,good,male,single
998,<0,45,existing paid,radio/tv,1845.0,<100,1<=X<4,4,none,4,...,none,for free,1,skilled,1,yes,yes,bad,male,single
999,0<=X<200,45,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,none,4,...,none,own,1,skilled,1,none,yes,good,male,single
1000,<0,48,existing paid,business,4308.0,<100,<1,3,none,4,...,none,rent,1,skilled,1,none,yes,bad,female,div/dep/mar
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,none,4,...,none,own,2,skilled,1,none,yes,good,male,single

In [15]:
df = df.drop(columns = 'own_telephone') #drop useless columns

In [16]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,foreign_worker,class,sex,marital_status
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,none,4,...,67.0,none,own,2,skilled,1,yes,good,male,single
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,none,2,...,22.0,none,own,1,skilled,1,yes,bad,female,div/dep/mar
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,none,3,...,49.0,none,own,1,unskilled resident,2,yes,good,male,single
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,guarantor,4,...,45.0,none,for free,1,skilled,2,yes,good,male,single
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,none,4,...,53.0,none,for free,2,skilled,2,yes,bad,male,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,no checking,12,existing paid,radio/tv,804.0,<100,>=7,4,none,4,...,38.0,none,own,1,skilled,1,yes,good,male,single
998,<0,45,existing paid,radio/tv,1845.0,<100,1<=X<4,4,none,4,...,23.0,none,for free,1,skilled,1,yes,bad,male,single
999,0<=X<200,45,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,none,4,...,27.0,none,own,1,skilled,1,yes,good,male,single
1000,<0,48,existing paid,business,4308.0,<100,<1,3,none,4,...,24.0,none,rent,1,skilled,1,yes,bad,female,div/dep/mar
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,none,4,...,53.0,none,own,2,skilled,1,yes,good,male,single

In [17]:
df['marital_status']= df['marital_status'].str.replace('mar/wid', 'widowed') #standardize the columns

In [18]:
df['marital_status']= df['marital_status'].str.replace('div/dep/mar', 'divorced')

In [19]:
df['marital_status'] = df['marital_status']= df['marital_status'].str.replace('div/sep', 'divorced')

In [20]:
df['marital_status']

0         single
1       divorced
2         single
3         single
4         single
          ...
997       single
998       single
999       single
1000    divorced
1005      single
Name: marital_status, Length: 1002, dtype: object

In [21]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,foreign_worker,class,sex,marital_status
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,none,4,...,67.0,none,own,2,skilled,1,yes,good,male,single
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,none,2,...,22.0,none,own,1,skilled,1,yes,bad,female,divorced
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,none,3,...,49.0,none,own,1,unskilled resident,2,yes,good,male,single
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,guarantor,4,...,45.0,none,for free,1,skilled,2,yes,good,male,single
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,none,4,...,53.0,none,for free,2,skilled,2,yes,bad,male,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,no checking,12,existing paid,radio/tv,804.0,<100,>=7,4,none,4,...,38.0,none,own,1,skilled,1,yes,good,male,single
998,<0,45,existing paid,radio/tv,1845.0,<100,1<=X<4,4,none,4,...,23.0,none,for free,1,skilled,1,yes,bad,male,single
999,0<=X<200,45,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,none,4,...,27.0,none,own,1,skilled,1,yes,good,male,single
1000,<0,48,existing paid,business,4308.0,<100,<1,3,none,4,...,24.0,none,rent,1,skilled,1,yes,bad,female,divorced
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,none,4,...,53.0,none,own,2,skilled,1,yes,good,male,single

In [22]:
df['job'] = df['job'].str.replace('high qualif/self emp/mgmt','self_employed')

In [23]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,foreign_worker,class,sex,marital_status
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,none,4,...,67.0,none,own,2,skilled,1,yes,good,male,single
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,none,2,...,22.0,none,own,1,skilled,1,yes,bad,female,divorced
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,none,3,...,49.0,none,own,1,unskilled resident,2,yes,good,male,single
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,guarantor,4,...,45.0,none,for free,1,skilled,2,yes,good,male,single
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,none,4,...,53.0,none,for free,2,skilled,2,yes,bad,male,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,no checking,12,existing paid,radio/tv,804.0,<100,>=7,4,none,4,...,38.0,none,own,1,skilled,1,yes,good,male,single
998,<0,45,existing paid,radio/tv,1845.0,<100,1<=X<4,4,none,4,...,23.0,none,for free,1,skilled,1,yes,bad,male,single
999,0<=X<200,45,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,none,4,...,27.0,none,own,1,skilled,1,yes,good,male,single
1000,<0,48,existing paid,business,4308.0,<100,<1,3,none,4,...,24.0,none,rent,1,skilled,1,yes,bad,female,divorced
1005,no checking,24,critical/other existing credit,radio/tv,2424.0,no known savings,>=7,4,none,4,...,53.0,none,own,2,skilled,1,yes,good,male,single